.redbg{
    background-color: red;
    height: 100vh;
}
.bluebg{
    background-color: blue;
    height: 100vh;
}
.greenbg{
    background-color: green;
    height: 100vh;
}
.yellowbg{
    background-color: yellow;
    height: 100vh;

}
.fillpage{
    height: 100vh;
    background-color: rgb(215, 200, 200);
    padding-left: 25vw;
    padding-top: 15vh;
}
.quiz-card{
    height: 70vh;
    width: 50vw;
}
.quiz-card-top{
    height:20%

}
.quiz-card-middle{
    height:60%
}
.quiz-card-bottom{
    height: 20%
}
.align{
    padding-right: 10%;
    padding-left: 10%;
    padding-top:1%;
}
